# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# yarn integrity file
.yarn-integrity

# Typescript v1 declaration files
*.d.ts

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace