@use 'vars' as *;

.add-task {
    cursor: text;
    border-bottom: 1px solid $table-lines-gray;
    display: flex;
    align-items: center;
    margin-left: 10px;
    &:hover {
        opacity: 1;
      }

    .sticky-part{
        display: flex;
        align-items: center;
        position: sticky;
        left: 10px;

        .checkbox-deco{
            display: grid;
            justify-items: center;
            align-items: center;
            width: 35px;
            height: 32px;
            background-color: rgb(255, 255, 255);
            border-right: solid $table-lines-gray 1px;
    
            .box{
                width: 16px;
                height: 16px;
                border: solid #E7E8EE 1px;
                border-radius: 2px;
            }
        }
      
        .add-input {
            outline: none;
            border: solid blue 1px;
            height: 22px;
            border-radius: 4px;
            margin-left: 10px;
            padding-left: 5px;
            font-family: "Quicksand", serif;
            font-size: 0.85rem;
            font-weight: 450;
        }
    }

    .empty-space{
        height: 35px;
        border-bottom: solid $table-lines-gray 1px;
    }
  }
  