@use 'vars' as *;

.labels-grid {
  display: grid;
  font-size: 0.85rem;
  font-family: "Quicksand", serif;
  grid-template-columns: 10px 600px repeat(5, 150px) 500px;
  grid-template-rows: 35px;
  width: 100%;
  color: #323338;
  margin-bottom: -1px;
}

.progress-grid {
  position: relative;
  display: grid;
  grid-template-columns: 10px 600px repeat(5, 150px) 500px;

  grid-template-rows: 35px;
  width: 100%; /* Set a fixed width */

  .invisible {
    z-index: 1;
    position: sticky;
    left: 0px;

    .white-cover {
      position: absolute;
      left: -39px;
      top: -1px;
      width: 50px;
      height: calc(100% + 3px);
      background-color: white;
    }
  }

  .empty-space {
    border-bottom: solid $table-lines-gray 1px;
  }

  .taskTitle {
    z-index: 1;
    position: sticky;
    left: 10px;
    margin-top: 1px;
    height: 40px;
    background-color: white;
    // border-right: solid $table-lines-gray 1px;
    border-bottom: solid white 1px;
  }

  .round-corner{
    padding: 0px;
    z-index: 2;
    position: absolute;
    right: 0px;
    top:-1px;
    width: 6px;
    height: 35px;
    border: solid $table-lines-gray 1px;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 6px;
  }
}

.task-preview {
  position: relative;

  .task-grid {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 10px 600px repeat(5, 150px) 500px;
    grid-template-rows: 35px;
    background: white;

    .empty-space {
      border-top: solid $table-lines-gray 1px;
    }
  }
}

.group-list {
  font-size: 13px;
  position: relative;
  width: calc(100vw - 320px);
  // margin-top: -37px;
  // width: max-content;
  
  & input[type='checkbox'] {
    appearance: none; /* Remove default checkbox */
    width: 16px;
    height: 16px;
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    border: solid #C3C6D4 1px;
    border-radius: 2px;

    &:hover{
      border-color: black;
    }
  }


  .check-icon{
    cursor: pointer;
    position: absolute;
    top: 9px;
  }

  .group-preview{
    margin-bottom: 40px;
  }
}

.board-details {
  overflow: auto;
  height: calc(100vh - 43px);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 12px;
  padding-left: 2rem;
  padding-bottom: 3rem;

  // vertical scrollbar
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #C1C4D2;
  }

  // horizontal scrollbar
  &::-webkit-scrollbar:horizontal {
    height: 15px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background: #C1C4D2;
  }
}

.fixed-area {
  z-index: 10;
  position: fixed;
  width: calc(100vw - 275px);
  height: 40px;
  overflow: visible;
  left: 265px;
  top: 202px;
  background-color: white;
  padding-left: 32px;
}

.sticky-something {
  z-index: 222;
  position: sticky;
  top: 213px;
  width: 100px;
  height: 1px;
  background-color: red;
}

.sticky-labels {
  position: sticky;
  z-index: 5;
  left: 0px;
  top: 199px;
  // width: max-content;
  // margin-top: 1px;
}

/* Grid Items */
.grid-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $table-lines-gray;
  border-top: 1px solid $table-lines-gray;
}

.item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.date-pill {
  background-color: #575757;
  color: #fff;
  padding: 3px 6px;
}

.white {
  color: #fff;
}
/* Header Styling */
.grid-header {
  background: #f7f8fa; /* Light background for headers */
  font-weight: bold;
}

/* Row Colors */
.grid-row:nth-child(odd) {
  background: #f9f9f9; /* Alternating row color */
}

.grid-row:nth-child(even) {
  background: white;
}

/* Labels and Progress Sections */

.progress-grid div {
  padding: 0.7rem;
  text-align: center;
  font-weight: 800;
}

.labels-grid div {
  // padding: 0.7rem;
  text-align: center;
  font-weight: 500;
  border: 1px solid $table-lines-gray;
  border-left: none;
}

div {
  font-family: 'Quicksand';
  font-weight: 500;
}

.btn {
  border: none;
  color: #3f3f3f;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid #880000;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid #979393;
  }
}

.arrow {
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 10;
}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.color-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.color-box:hover {
  opacity: 0.8;
}

.modal-save-btn {
  position: sticky;
  left: 0px;
  margin-top: 20px;
  background-color: #67bfec;
  color: white;
  border: none;
  padding: 8px 16px;
  width: 10rem;

  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2d98ce;
  }
}

.board-input {
  border: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.nothing {
  border: 1px solid $table-lines-gray;
}

.chat-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #676879;
  cursor: pointer;
  border-left: 1px solid $table-lines-gray;
  padding: 0px;

  &:hover {
    color: #0073EA;
  }

  .circle{
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 0.6rem;
    position: absolute;
    top: 14px;
    left: 33px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: white;
    background-color: #0073EA;
  }
}
section.labels-grid {
  // position: sticky;
  // top: 227px;
  z-index: 4;
  background-color: #fff;
}

.prog-box {
  border-right: 1px solid $table-lines-gray;
  border-top: 0px solid $table-lines-gray;
  border-bottom: 1px solid $table-lines-gray;
}
.stick-task {
  position: sticky;
  left: 10px;
  z-index: 1;
  background-color: #ffffff;
  display: inline-block;
}

// .stick2 {
//   position: sticky;
//   z-index: 1000;
//   background-color: #ffffff;
//   display: inline-block;
// }

.label-title {
  z-index: 1;
  position: sticky;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: white;

  .white-cover {
    position: absolute;
    left: -47px;
    top: -1px;
    width: 40px;
    height: calc(100% + 3px);
    border: none;

    background-color: white;
  }

  .label-inner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .drag-label {
      cursor: col-resize;
      position: absolute;
      right: 0px;
      width: 7px;
      height: 100%;
      background-color: #d0d4e4;
      border-radius: 2px;

      &:hover {
        background-color: #0073ea;
      }
    }
  }
}

.main-checkbox {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid $table-lines-gray;
  padding-right: 13px;
  padding-left: 3px;

  input {
    appearance: none;
    position: relative;
    left: 5px;
    height: 16px;
    width: 16px;
    border: solid #C3C6D4 1px;
    border-radius: 2px;

    &:hover{
            border-color: black;
          }
  }

  .check-icon{
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 9px;
    border: none;
  }
}



.search-empty-board-image {
  width: 260px;
}

.no-groups-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  & h1 {
    color: #676879;
  }
}
.dots {
  color: #333;

  span {
    opacity: 0;
    position: relative;
    right: 1.2rem;
  }
}

.ghost {
  background-color: #fff;
  border: none;
}

div.input-styles {
  border: none;
  border-right: 1px solid $table-lines-gray;
}



.flex-for-modal {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.flex-inside-color {
  display: flex;
  gap: 1rem;
}
