@use 'vars' as *;

.labels-grid {
  display: grid;
  font-size: 0.8rem;
  grid-template-columns: 10px 600px repeat(5, 150px) 500px;
  grid-template-rows: 34px;
  width: 100%;
}

.progress-grid {
  position: relative;
  display: grid;
  grid-template-columns: 10px 600px repeat(5, 150px) 500px;

  grid-template-rows: 34px;
  width: 100%; /* Set a fixed width */

  .invisible {
    position: sticky;
    left: 0px;

    .white-cover {
      z-index: 100;
      position: absolute;
      left: -39px;
      top: -1px;
      width: 50px;
      height: calc(100% + 3px);
      background-color: white;
    }
  }

  .empty-space {
    border-bottom: solid $table-lines-gray 1px;
    border-top: solid $table-lines-gray 1px;
    width: 90px;
  }

  .taskTitle {
    z-index: 1;
    position: sticky;
    left: 10px;
    background-color: white;
    border-right: solid $table-lines-gray 1px;
    border-bottom: solid white 1px;
  }
}

.task-preview {
  position: relative;

  .task-grid {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 10px 600px repeat(5, 150px) 500px;
    grid-template-rows: 34px;
    background: white;

    .empty-space {
      border-bottom: solid $table-lines-gray 1px;
    }
  }
}

.group-list {
  width: max-content;
  font-size: 13px;
  position: relative;
  margin-top: -37px;
  & input[type='checkbox'] {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}

.board-details {
  overflow: auto;
  height: calc(100vh - 43px);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 12px;
  padding-left: 2rem;
  padding-bottom: 3rem;

  /* Style Crossbar */
  &::-webkit-scrollbar {
    // width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    // background: #b2b2b2;
  }
}

.fixed-area {
  z-index: 10;
  position: fixed;
  // width: calc(100vw - 378px);
  width: calc(100vw - 313px);
  overflow-x: hidden;
  overflow-y: hidden;
  top: 206px;
  background-color: white;

  .fixed-group-title {
  }

  // .shadow{
  //   position: fixed;
  //   top: 305px;
  //   left: 307px;
  //   width: calc(100% - 400px);
  //   height: 5px;
  //   background-color: #2d98ce;
  //   box-shadow: 5px 5px 10px black;
  // }
}

.sticky-something {
  z-index: 222;
  position: sticky;
  top: 213px;
  width: 100px;
  height: 1px;
  background-color: red;
}

.sticky-labels {
  width: max-content;
  position: sticky;
  z-index: 5;
  top: 227px;
  margin-top: 1px;
}

/* Grid Items */
.grid-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $table-lines-gray;
  border-bottom: 1px solid $table-lines-gray;
}

.item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.date-pill {
  background-color: #575757;
  color: #fff;
  padding: 3px 6px;
}

.white {
  color: #fff;
}
/* Header Styling */
.grid-header {
  background: #f7f8fa; /* Light background for headers */
  font-weight: bold;
}

/* Row Colors */
.grid-row:nth-child(odd) {
  background: #f9f9f9; /* Alternating row color */
}

.grid-row:nth-child(even) {
  background: white;
}

/* Labels and Progress Sections */

.progress-grid div {
  padding: 0.7rem;
  text-align: center;
  font-weight: 800;
}

.labels-grid div {
  // padding: 0.7rem;
  text-align: center;
  font-weight: 800;
  border: 1px solid $table-lines-gray;
  border-left: none;
  border-bottom: none;
}

div {
  font-family: 'Quicksand';
  font-weight: 500;
}

.btn {
  border: none;
  color: #3f3f3f;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid #880000;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid #979393;
  }
}

.arrow {
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 10;
}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.color-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.color-box:hover {
  opacity: 0.8;
}

.modal-save-btn {
  position: sticky;
  left: 0px;
  margin-top: 20px;
  background-color: #67bfec;
  color: white;
  border: none;
  padding: 8px 16px;
  width: 10rem;

  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2d98ce;
  }
}

.board-input {
  border: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.group-title {
  display: flex;
  gap: 10px;

  &:hover {
    .remove {
      opacity: 1;
    }
  }
}

.nothing {
  border: 1px solid #e1dede;
}

.chat-icon {
  color: rgb(128, 128, 128);
  cursor: pointer;
  border-left: 1px solid #e1e1e1;
  padding: 0.2rem 1rem;

  &:hover {
    color: rgb(72, 72, 199);
  }
}
section.labels-grid {
  // position: sticky;
  // top: 227px;
  z-index: 4;
  background-color: #fff;

  div {
    border-bottom: 1px solid #e0dede;
  }
}

div.group-title {
  position: sticky;
  left: 0px;
  width: calc(100vw - 500px);
  padding: 1rem;
  background-color: white;
  z-index: 4;
}
.prog-box {
  border-right: 1px solid $table-lines-gray;
  border-top: 1px solid $table-lines-gray;
  border-bottom: 1px solid $table-lines-gray;
}
.stick-task {
  position: sticky;
  left: 10px;
  z-index: 1;
  background-color: #ffffff;
  display: inline-block;
}

// .stick2 {
//   position: sticky;
//   z-index: 1000;
//   background-color: #ffffff;
//   display: inline-block;
// }

.label-title {
  z-index: 1;
  position: sticky;
  left: 10px;
  display: flex;
  align-items: center;
  background-color: white;

  .white-cover {
    position: absolute;
    left: -47px;
    top: -1px;
    width: 42px;
    height: calc(100% + 3px);
    border: none;

    background-color: white;
  }

  .label-inner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .drag-label {
      cursor: col-resize;
      position: absolute;
      right: 0px;
      width: 8px;
      height: 100%;
      background-color: #d0d4e4;
      border-radius: 2px;

      &:hover {
        background-color: #0073ea;
      }
    }
  }
}

.main-checkbox {
  display: flex;
  align-items: center;

  border-right: 1px solid #e0dede;
  padding-right: 1.34rem;
  padding-left: 0.65rem;

  input {
    position: relative;
    left: 5px;
    height: 20px;
    width: 20px;
  }
}

.search-empty-board-image {
  width: 260px;
}

.no-groups-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  & h1 {
    color: #676879;
  }
}
.dots {
  color: #333;

  span {
    opacity: 0;
    position: relative;
    right: 1.2rem;
  }
}

.add-task {
  position: sticky;
  left: 10px;
  width: 500px;
  border: 1px solid #e0dede;
  border-right: none;
  border-top: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  .add-input {
    border: none;
    padding: 0.5rem 3rem;
    background-color: transparent;
  }
}

.ghost {
  background-color: #fff;
  border: none;
}

div.input-styles {
  border: none;
  border-right: 1px solid #e0dede;
}

.change-location {
  position: relative;
  right: 35px;
  top: 5px;
  display: flex;
  gap: 10px;
}

.flex-for-modal {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.flex-inside-color {
  display: flex;
  gap: 1rem;
}
