.home-page {
  font-family: "Quicksand";
  background-image: url("https://agenda.agami-network.com/static/media/home-bg-img.6c3461523da0a635bd77.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  height: 1200px;
}

.hero-layout {
  width: 40%;

  margin: 0 auto;
  color: #fff;
  padding-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero {
  h1 {
    font-size: 3rem;
    color: white;
  }
}

.hero-btn {
  cursor: pointer;
  border: none;
  padding: 0.8rem 8rem;
  font-size: 1.25rem;
  background-color: #5a5ad5;
  color: #fff;
  border-radius: 10px;

  &:hover {
    background-color: #4f4fa5;
  }
}
