
.label{
    cursor: grab;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    input{
        width: 70%;
    }

    div{
        border: solid black 10px;
    }

    p{
        cursor:text;
        padding: 2px 3px 2px 3px;
        border: none;

        &:hover{
            border: solid #C3C6D4 1px;
            border-radius: 4px;
        }
    }

    i{
        cursor: pointer;
        position: absolute;
        top: 8px; // temporary
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 1.1em;
        border-radius: 3px;
        color: #676879;
        &:hover{
            background-color: #E7E8EB;
        }
    }

    .label-modal{
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: absolute;
        top: 3px; // temporary
        right: -205px; // temporary
        width: 200px;
        background-color: white;
        padding: 7px;
        box-shadow: 0px 4px 10px rgb(179, 179, 179);
        border-radius: 8px;

        button{
            cursor: pointer;
            display: flex;
            gap: 10px;
            align-items: center;
            padding-left: 10px;
            font-family: "Quicksand", serif;
            color: rgb(80, 80, 80);
            font-weight: 600;
            background-color: white;
            height: 30px;
            border-color: transparent;
            border-radius: 4px;

            &:hover{
                background-color: #F0F0F1;
            }
        }
    }

    .drag-label{
        z-index: 1;
        cursor: col-resize;
        position: absolute;
        right: -3px;
        width: 6px;
        height: 100%;
        background-color: #D0D4E4;
        border-radius: 4px;
        
        &:hover{
            background-color: #0073EA;
        }
    }

    
}


