.main-inner-index {
  display: grid;
  grid-template-rows: 75px 1fr;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
  border-top-left-radius: 5px;
  background-color: #fff;
  border-top-left-radius: 12px;

  .welcome-section {
    display: flex;
    gap:3px;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1); /* Bottom-only box-shadow */
    font-family: "Quicksand", serif;

    small {
      color: #333;
      font-size: 15px;
      font-size: 0.85rem;
    }
    .small-bold{
      font-size: 0.95rem;
      font-weight: 650;
    }
  }

  hr {
    margin-top: 0.4rem;
  }

  .recently-visited-section {
    // margin: 1rem;
    box-shadow: 0px 3px 12px #e6e9ef;
    border-radius: 8px;
    height: 95%;
    margin: 1rem;
    padding: 1.8rem;
    // padding-left: 2.5rem;
    & > .recently-visited-header {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      // background-color: #333;
      h4 {
        font-size: 1.1rem;
        font-weight: 800;
        color: #333;
      }
    }

    .boards-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-left: 1.25rem;

      .board-card {
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        padding: 0.5rem;
        width: 275px;
        text-align: center;

        &:hover {
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 4px;
          margin-bottom: 0.5rem;
        }

        .board-card-text-area{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          
          .svg-board svg{
            margin-right: 6px;
            display: grid;
            align-items: center;
            width: 22px;
            height: 22px;
            color: #676879;
          }

          .svg-star svg{
            margin-right: 5px;
            justify-self: end;
            display: grid;
            align-items: center;
            opacity: 0.9;
          }

          p{
            width: 100%;
            text-align: start;
            font-weight: bolder;
            font-size: 1rem;
          }
        }
      }
    }

    .boards-empty-container{
      display: grid;
      grid-template-columns: 3fr 2fr;
      border: solid #D0D4E4 1px;
      border-radius: 8px;
      width: 72%;
      height: 260px;


      .text-part{
        padding: 70px 0px 70px 35px;
        h4{
          font-weight: 500;
          font-size: 0.95rem;
          margin-bottom: 7px;
        }

        h2{
          font-size: 1.4rem;
          margin-bottom: 20px;
        }

        button{
          cursor: pointer;
          font-family: "Quicksand", serif;
          background-color: transparent;
          border: solid #C3C6D4 1px;
          border-radius: 4px;
          width: 134px;
          height: 40px;
          font-size: 0.95rem;
          font-weight: 500;

          &:hover{
            background-color: #F0F0F1;
          }
        }
      }

      img{
        margin-left: 15px;
        align-self: center;
        width: 293px;
        height: 212px;
      }
    }
  }
}

.create-board {
  position: absolute;
  top: 150px;
  left: 700px;
  background-color: white;
  z-index: 20;
  padding: 40px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  & > form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    & > input {
      padding: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      font-size: 16px;
    }
    & > .create-board-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 12px;
      align-self: end;
      & button {
        padding: 10px;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: #0073ea;
        cursor: pointer;
        &:hover {
          background-color: #0060b9;
        }
      }
      .cancel-button {
        background-color: #ffffff;
        color: black;
        &:hover {
          background-color: #e8e8e8;
        }
      }
    }
  }
}
