.minigroup-container {
  border: 1px solid #b9b9b9;
  background-color: #fff;
  display: flex;
  gap: 3rem;
  padding: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 2000px;
  margin-top: 1rem;
  align-items: center;
  z-index: 1000;
  .title-arrow-flex {
    display: flex;
    gap: 1rem;
  }

  .minigroup-inner-flex {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1rem;
  }
}
