.kanban-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  background-color: #fff;

  .kanban-group {
    background-color: #eef0f6; // Light gray background for groups
    min-width: 280px;
    max-width: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 65vh;

    .group-header {
      padding: 10px;
      border-radius: 8px 8px 0 0;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: small;

      .task-count {
        color: #fff;
        font-weight: 200;
      }
    }
    .task-list {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    .task-list::-webkit-scrollbar {
      display: none;
    }

    .kanban-task {
      background: #ffffff;
      padding: 10px;
      border: 1px solid #bbb;
      border-radius: 6px;
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .task-header {
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1rem;
        font-weight: 600;
        color: #333;
      }

      .task-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        color: #666;
      }

      .MuiIconButton-root {
        color: #666;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: #333;
        }
      }

      &:hover {
        .task-icon-box {
          opacity: 1;
        }
      }
    }

    &:hover {
      .add-new-task {
        h3 {
          opacity: 1;
        }
      }

      .icons-group {
        opacity: 1;
      }
    }
  }
}

.add-new-task {
  font-weight: 100;
  color: #8b8b8b;
  font-size: 0.7rem;
  width: 90%;
  margin: 10px auto;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;

  h3 {
    opacity: 0;
    padding: 10px 15px;
  }

  &:hover {
    background-color: #e5e5e5;
    cursor: pointer;
  }
}

.icons-group {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0;

  .icon-hover {
    border-radius: 5px;
    font-weight: 100;

    &:hover {
      filter: brightness(90%);
    }
  }
}

.task-icon-box {
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.task-title {
  font-size: 0.8rem;
}

.footer-icon-box {
  display: flex;
  gap: 1rem;
}

.kanban-group-card {
  &:hover {
  }
}

.name-change-input {
  width: auto;
  min-width: 10ch;
  border: none;
  padding: 4px;

  &::placeholder {
    color: #333;
  }

  &:hover {
    border: 1px solid #bbb;
    border-radius: 8px;
  }
}
.name-change-input {
  border: none;
  padding: 4px;
  min-width: 50px;
  font-size: 1rem;
  background: transparent;
  outline: none;
}

.hidden-input {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-size: 1rem;
}

.board-details2 {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 12px;
  padding-left: 2rem;
  padding-bottom: 3rem;

  // vertical scrollbar
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c4d2;
  }

  // horizontal scrollbar
  &::-webkit-scrollbar:horizontal {
    height: 15px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background: #c1c4d2;
  }
}
