@use 'vars' as *;

.user-msg {
  position: fixed;
  top: 1rem;
  right: 35rem;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f1f1f1;
  box-shadow: 0 0 5px 0 $light;
  z-index: 1000;
  width: 280px;
  justify-content: space-between;
  font-size: 0.9rem;
  opacity: 0;
  transform: translateY(-100px); /* Start slightly above the final position */
  animation: slideIn 0.3s ease-in-out forwards; /* Add 'forwards' to retain the final state */
}

.user-msg.visible {
  opacity: 1;
  transform: translateY(0); /* Final position */
}

.user-msg.success {
  background-color: #00854d;
  color: white;
}

.user-msg.error {
  background-color: #f8d7da;
  color: #332527;
}

.user-msg .msg{
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 0.25rem;
}

.user-msg .btn {
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 6px;
  border-radius: 5px;
}

.user-msg .close-btn{
  padding: 6px;
  font-size: 2.1rem;
}

.user-msg .undo-btn{
  border: 1px solid white;
}

.user-msg .btn:hover {
  background-color: rgba($color: transparent, $alpha: 0.2);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
