$light: #abcdc1;
$nes: #98bec1;
$moka: #7ec1ad;
$espresso: #1c2424;

$color-highlight_blue: #cce5ff;
$color-basic_blue: #0073ea;
$color-dark_blue: #0060b9;
$color-bazooka: #f65f7c;
$color-snow_white: #ffffff;
$color-riverstone_gray: #f6f7fb;
$color-ui_grey: #dcdfec;
$color-wolf_gray: #c3c6d4;
$color-asphalt: #676879;
$color-mud_black: #323338;
$color-black: #000000;
$color-success: #00854d;
$color-success-hover: #007038;
$color-success-highlight: #bbdbc9;
$color-error: #d83a52;
$color-error-hover: #b63546;
$color-error-highlight: #f4c3cb;
$color-link_color: #1f76c2;
$color-surface: #292f4c;
$primary-color: #0073ea;
$primary-hover-color: #0060b9;
$primary-selected-color: #cce5ff;
$primary-selected-hover-color: #aed4fc;
$primary-highlighted-color: #f0f7ff;
$primary-surface-color: #eceff8;
$primary-text-color: #323338;
$text-color-on-primary: #ffffff;
$text-color-on-inverted: #ffffff;
$secondary-text-color: #676879;
$placeholder-color: #676879;
$icon-color: #676879;
$link-color: #1f76c2;
$fixed-light-color: #ffffff;
$fixed-dark-color: #323338;
$primary-background-color: #ffffff;
$primary-background-hover-color: rgba(103, 104, 121, 0.1);
$secondary-background-color: #ffffff;
$grey-background-color: #f6f7fb;
$allgrey-background-color: #f6f7fb;
$inverted-color-background: #323338;
$disabled-background-color: #ecedf5;
// $disabled-text-color: rgba(50, 51, 56, $disabled-component-opacity);
$positive-color: #00854d;
$positive-color-hover: #007038;
$positive-color-selected: #bbdbc9;
$positive-color-selected-hover: #b5cec0;
$negative-color: #d83a52;
$negative-color-hover: #b63546;
$negative-color-selected: #f4c3cb;
$negative-color-selected-hover: #ecb7bf;
$ui-border-color: #c3c6d4;
$ui-background-color: #dcdfec;
$layout-border-color: #d0d4e4;
$warning-color: #ffcb00;
$warning-color-hover: #eaaa15;
$warning-color-selected: #fceba1;
$warning-color-selected-hover: #f2d973;
$brand-color: #0073ea;
$primary-background-color: #ffffff;
$surface-color: #eceff8;
$surfce-color: #eceff8;
$e: black;
$table-lines-gray: #D0D4E4;