@use 'homePage';
@use 'Header';
@use 'vars';
@use 'footer';
@use 'login';
@use 'index';
@use 'usermsg';
@use 'sideBar';
@use 'mainInnerIndex';
@use 'mondayIndex';
@use 'Board-details';
@use './dynamicCmps/TaskTitle';
@use './dynamicCmps/Priority';
@use './dynamicCmps/Status';
@use './dynamicCmps/Members';
@use './dynamicCmps/Date';
@use './dynamicCmps/modals/SelectedTasksModal';
@use './dynamicCmps/progressCmps/P_Priority';
@use './dynamicCmps/progressCmps/P_Status';
@use './dynamicCmps/progressCmps/P_Members';
@use './dynamicCmps/progressCmps/P_Date';
@use './Board-details-header';
@use './dynamicCmps/modals/garbage';
@use './AddLabel.scss';
@use './dynamicCmps/modals/FilterModal';
@use './Label';
@use './dynamicCmps/modals/DeleteLabelConfirmation';
@use './dynamicCmps//modals/DeleteTaskModal';
@use './dynamicCmps/modals/ActivityModal';
@use './MiniGroup';
@use './Kanban';
@use './AddTask';
@use './GroupTitle';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Quicksand", serif;
  background-color: #eceff8;
}

.x-btn {
  position: relative;
  bottom: 182px;
  left: 220px;
  font-size: 20px;
  color: coral;
}
