.grid-item.status {
  position: relative;

  .status-modal {
    // in var so you can controll it in js!
    --cell-width: 150px;
    $cell-height: 34px;
    $modal-width: 200px;

    z-index: 11;
    position: absolute;
    top: calc($cell-height + 5px);
    left: calc((var(--cell-width) - $modal-width) /2);
    width: $modal-width;
    height: 250px;
    background-color: white;
    border: none;
    box-shadow: 0px 6px 12px rgb(150, 150, 150);
    border-radius: 5px;

    .white-arrow{
      position: absolute;
      top:-9px;
      left: calc(#{$modal-width} / 2 - 12px);
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 25px 10px 25px;
      gap: 8px;
    }

    li {
      display: grid;
      align-content: center;
      cursor: pointer;
      height: 32px;
      width: 100%;
      border-radius: 2px;
      transition: opacity 0.15s ease;
      font-size: 1.05em;

      &:hover{
        opacity: 0.85;
      }
    }
  }
}
