.add-label{
    $add-label-width:20px;
    $add-label-height:20px;
    position: relative;
    width: 20px;
    height: 20px;

    .add-column-button{
        width: 100%;
        height: 100%;
      }

    .add-label-modal{
        position: absolute;
        right: $add-label-width + 5px;
        top: -5px;
        width: 150px;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 3px 12px rgb(200, 200, 200);
        border-radius: 6px;

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
        }

        .label-option{
            cursor: pointer;
            display: flex;
            gap: 5px;
            padding: 5px;
            border-radius: 4px;

            &:hover{
                background-color: #F0F0F1;
            }
        }
    }
}