/* Main Grid */
.grid {
  display: grid;
  grid-template-columns: 40px 400px repeat(4, 1fr) 500px;
  grid-template-rows: 34px;
  background: white;
  border-left: 0.3rem rgb(148, 182, 210) solid;
}
.labels-grid {
  display: grid;
  grid-template-columns: 40px 400px repeat(4, 1fr) 500px;

  grid-template-rows: 34px;

  width: 100%;
}

.progress-grid {
  display: grid;
  grid-template-columns: 40px 400px repeat(4, 1fr) 500px;

  grid-template-rows: 34px;
  width: 100%; /* Set a fixed width */
}

.group-list {
  font-size: 13px;
  width: 110%;
  position: relative;

  & input[type='checkbox'] {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}

.board-details {
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 12px;
  padding-left: 3rem;
}
/* Grid Items */
.grid-item {
  text-align: center;
  border-left: 1px solid #e0dede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.date-pill {
  background-color: #575757;
  color: #fff;
  padding: 3px 6px;
  border-radius: 20px;
}

.white {
  color: #fff;
}
/* Header Styling */
.grid-header {
  background: #f7f8fa; /* Light background for headers */
  font-weight: bold;
}

/* Row Colors */
.grid-row:nth-child(odd) {
  background: #f9f9f9; /* Alternating row color */
}

.grid-row:nth-child(even) {
  background: white;
}

/* Labels and Progress Sections */

.prog-box {
  border: 1px solid #e0dede; /* Ensure cell borders match */
}

.progress-grid div {
  border-top: 1px solid #e0dede; /* Ensure cell borders match */

  padding: 0.7rem;
  text-align: center;
  font-weight: 800;
}

.labels-grid div {
  border-left: 1px solid #e0dede; /* Ensure cell borders match */
  padding: 0.7rem;
  text-align: center;
  font-weight: 800;
}

div {
  font-family: 'Quicksand';
  font-weight: 500;
}

.btn {
  border: none;
  color: #3f3f3f;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid #e1dede;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid #979393;
  }
}

.arrow {
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1001;
}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.color-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.color-box:hover {
  opacity: 0.8;
}

.add-input {
  border: none;
  padding: 0.5rem 3rem;
}

.modal-save-btn {
  background-color: #67bfec;
  color: white;
  border: none;
  padding: 8px 16px;
  width: 10rem;

  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2d98ce;
  }
}

.board-input {
  border: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.group-title-flex {
  display: flex;
  gap: 10px;
}

.checkbox {
  border: 1px solid #e0dddd;
}

.nothing {
  border: 1px solid #e1dede;
}

.add-column {
}

.add-task {
  opacity: 0.5;
  border-top: 1px solid #e0dede;
}

.chat-icon {
  color: rgb(128, 128, 128);
  cursor: pointer;
  border-left: 1px solid #e1e1e1;
  padding: 0.2rem 1rem;
}
section.labels-grid {
  position: sticky;
  top: 190px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #e0dddd;
}

div.group-title-flex {
  position: sticky;
  padding: 1rem;
  top: 140px;
  background-color: #fff;
  z-index: 8;
}
