/* Main Grid */
.grid {
  display: grid;
  grid-template-columns: 40px 175px repeat(auto-fill, 100px); /* Match grid structure */
  // justify-content: center;
  background: white; /* Background for grid */
  border-left: 0.3rem rgb(148, 182, 210) solid;
}

/* Grid Items */
.grid-item {
  border: 1px solid #d3d3d3; /* Border for individual cells */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.date-pill {
  background-color: #575757;
  color: #fff;
  padding: 3px 6px;
  border-radius: 20px;
}

.white {
  color: #fff;
}
/* Header Styling */
.grid-header {
  background: #f7f8fa; /* Light background for headers */
  font-weight: bold;
}

/* Row Colors */
.grid-row:nth-child(odd) {
  background: #f9f9f9; /* Alternating row color */
}

.grid-row:nth-child(even) {
  background: white;
}

/* Labels and Progress Sections */
.labels-grid,
.progress-grid {
  display: grid;
  grid-template-columns: 40px 175px repeat(auto-fill, 100px); /* Match grid structure */
  border: 1px solid #eae6e6;
  border-left: 0.3rem rgb(148, 182, 210) solid;
  width: 100%; /* Set a fixed width */
}

.labels-grid div,
.progress-grid div {
  border: 1px solid #e0dede; /* Ensure cell borders match */
  padding: 0.7rem;
  text-align: center;
  font-weight: 800;
}

.group-list {
  margin-top: 1em;
  padding: 10px;
  font-size: 13px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%; /* Set a fixed width */
  & input[type='checkbox'] {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
}

div {
  font-family: 'Quicksand';
  font-weight: 500;
}

.btn {
  border: none;
  color: #3f3f3f;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid #e1dede;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid #979393;
  }
}

.arrow {
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1001;
}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.color-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.color-box:hover {
  opacity: 0.8;
}

.add-input {
  border: none;
  padding: 1rem 1rem;
}
