.board-details-header {
  color: #323338;
}

.boardTitle {
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  & > h2 {
    font-weight: 600;
  }
  cursor: pointer;
  &:hover {
    background-color: rgba(103, 104, 121, 0.1);
  }
}

.board-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  & div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    & h5 {
      font-size: 14px;
      font-weight: 500;
    }
    margin-bottom: 0.1rem;
    padding: 0.25rem;
    border-radius: 6px;
    position: relative; /* Add relative positioning */
    .highlight {
      position: absolute;
      bottom: -2px; /* Adjust this value to position the hr correctly */
      left: 0;
      width: 100%;
      border: none;
      border-top: 2px solid #0073ea; /* Adjust the border style as needed */
    }
  }

  & > div:hover {
    cursor: pointer;
    background-color: rgba(103, 104, 121, 0.1);
  }
}

.board-details-header > hr {
  width: 95%;
}

header.board-details-header {
  // position: sticky;
  // top: 0;
  background-color: #fff;
  z-index: 11;
}

.board-header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  & > div {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }
  .newTask-button {
    display: flex;
    gap: 0px;
    align-items: end;
    border: none;
    color: #3f3f3f;
    background-color: #fff;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    .new-task-button {
      font-size: 14px;
      font-weight: 500;
      padding: 6px;
      padding-bottom: 6.5px;
      padding-left: 8px;
      padding-right: 8px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: #0073ea;
    }
    & .arrow-down {
      background-color: #0073ea;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 1px solid #3c3c3c;
      padding: 1px;
      padding-bottom: 0px;
      padding-top: 6px;
    }
    & > div:hover {
      cursor: pointer;
      background-color: #0060b9;
    }
  }
  & > .choice-div {
    color: #323338;
    padding: 4px;
    border-radius: 2.5px;
    cursor: pointer;
    & small {
      font-size: 16px;
      font-weight: 500;
    }
    &:hover {
      background-color: rgba(103, 104, 121, 0.1);
    }
  }
}
.filter-input {
  padding-left: 5px;
  border: 1px solid #0073ea;
  border-radius: 5px;
  & > input {
    all: unset; /* Resets all default styles for the input */
    box-shadow: none;
    border: 2px solid transparent; /* Remove black border */
    height: 30px;
    font-size: 16px;
  }
}
