.container {
  padding: 2rem 4rem;
  width: 90%;
  margin: 1rem auto;
  text-align: center;

  h1 {
    font-weight: 200;
    font-size: 3rem;
  }
}

p {
  // border-top: 1px solid #333;
  // padding-top: 1rem;
}

a {
  text-decoration: none;
  color: #0073ea;
}

.login-form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input {
    padding: 5px 20px;
    border-radius: 3px;
    border: 1px solid #ddd5d5;
    width: 40%;
  }

  button {
    width: 40%;
    margin: 0 auto;
    padding: 0.6rem;
    background-color: #0073ea;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
