.index-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  height: calc(100vh - 60px); /* Adjust based on the height of AppHeader */
}

header {
  grid-column: 1 / -1;
}

.side-bar {
  grid-column: 1 / 2;
  height: 100%;
  overflow-y: auto;
}

.main-inner-index {
  grid-column: 2 / 3;
  height: 100%;
  overflow-y: auto;
}