@import "./vars";

.side-bar {
  color: #333;
  width: 200px;
  background: linear-gradient(135deg, #ffffff 5%, #eceff8 100%);
  // background: linear-gradient(135deg, #0073ea 5%, #00c6ff 100%);
  display: flex;
  flex-direction: column;
  padding-left: 0.4rem;
  font-family: "Roboto", sans-serif;
  border-top-right-radius: 12px;
  // border-bottom-right-radius: 12px;
  font-size: 10px;
  overflow-x: hidden;

  section {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 0.3rem;
    margin-left: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f5f0f0;
    }

    h4 {
      margin-left: 0.5rem;
      font-weight: 500;
      color: #333;
    }

    i {
      margin-left: auto;
      font-size: 1rem;
      color: #888;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 0.15rem 0;
    position: relative;
    right: 14px;
    width: 120%;
  }

  .side-bar-footer {
    margin-top: auto;
    font-size: 0.875rem;
    color: #888;
  }

  .sidebar-boardlist {
    list-style: none;
    width: 90%;
    margin-left: 0.4rem;

    .sidebar-board {
      cursor: pointer;
      // padding-top: 10px;
      padding:5px;
      border-radius: 4px;
      & h3 {
        font-weight: 500;
      }
      display: flex;
      gap: 10px;
      align-items: center;

      &:hover {
        background-color: #f0f0f0;
      }

      p {
        border: none;
      }
    }
  }
}

.add-board {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 95%;
  gap: 4px;
  background-color: #fff;
  padding: 0.5em;
  margin-top: 1rem;
  color: #323338;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    border: 1px solid #c3c6d4;
    border-radius: 3px;
    &:hover {
      background-color: rgba(103, 104, 121, 0.1);
    }
  }
  & > button {
    padding-top: 3px;
    background-color: #0073ea;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #0060b9;
    }
  }
}

.remove {
  border: none;
  background-color: #fff;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
