@use "homePage";
@use "Header";
@use "vars";
@use "footer";
@use "login";
@use "index";
@use "usermsg";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
}
