
.prog-box.with-date{
    height: 50px; // temporary

    .progress-date{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 100%;
        height: 100%;

        p{
            position: absolute;
            color: white;
        }

        .total-bar{
            width: 100%;
            height: 100%;
            padding: 0px;
            background-color: #333333;
            position: absolute;


            .progress-bar{
                padding: 0px;
                width: 0px;
                height: 100%;
            }

        }

    }

}