@use "./modals/MembersModal";

.grid-item.members {
  .members {
    width: 100%;
    height: 100%;
    color: white;

    .members-cell {
      cursor: pointer;
      $member-image-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-left: 5px;
  
      img {
        width: $member-image-size;
        height: $member-image-size;
        border-radius: 50%;
        border: solid #f5f6f8 2px;
        margin-left: -10px;
        margin-bottom: 0px;
      }

      .defult-img {
        border: solid #f5f6f8 2px;
      }

      .extra-members {
        display: grid;
        align-items: center;
        justify-items: center;
        width: $member-image-size;
        height: $member-image-size;
        border-radius: 50%;
        border: solid white 2px;
        margin-left: -10px;
        background-color: #333333;
        color: white;
        font-size: 0.9em;
      }

      svg {
        position: absolute;
        top: 9px;
        left: 6px;
        width: 18px;
        height: 18px;
      }
    }
  }
}
