.prog-box.with-members{
    padding: 5px;

    .progress-members{
        $member-image-size: 30px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    
        margin-left: 5px;
    
        img{
            width: $member-image-size;
            height: $member-image-size;
            border-radius: 50%;
            border: solid white 2px;
            margin-left: -10px;
        }

        .defult-img{
            border: solid #F5F6F8 2px;
        }

        .extra-members{
            padding: 0px;
            font-weight: 500;
            display: grid;
            align-items: center;
            justify-items: center;
            width: $member-image-size;
            height: $member-image-size;
            border-radius: 50%;
            border: solid white 2px;
            margin-left: -10px;
            background-color: #333333;
            color: white;
            font-size: 0.9em;
    
        }
    }

}
