.prog-box.with-priority {
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;

  .progress-priority {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: none;

    .color-block {
      cursor: pointer;
      position: relative;
      padding: 0px;
      height: 25px;
      transition: height 0.15s ease, width 0.25s ease-in-out;


      &:hover{
        height: 30px;
        border-radius: 2px;
      }

      .color-block-modal{
        --width: 140px;
        display: grid;
        align-items: center;
        justify-items: center;
        z-index: 12;
        position: absolute;
        top:-55px;
        left: calc(50% - var(--width)/2);
        width: var(--width);
        height: 35px;
        background-color: #323338;
        border-radius: 4px;
        box-shadow: 0px 15px 20px -5px rgb(174, 174, 174);

      }

      .modal-context{
        display: flex;
        color: white;
        font-size: 0.83rem;

        .s-amount{
          margin-left: 8px;
        }

        .s-precentage{
          margin-left: 8px;
        }
      }

      svg{
        position: absolute;
        bottom: -8px;
        left: calc(50% - 9px);
      }
    }
  }
}