
.prog-box.with-priority{
    padding: 5px;

    .progress-priority{
        display: flex;
        padding: 0px;
        width: 100%;
        height: 100%;
        border: none;
    
        .color-block{
            padding: 0px;
            height: 100%;
        }
    }

}
