.chat-modal {
  z-index: 200; // this z-index bs has to be solved..
  position: fixed; // unfortunately since absolute sticks with group-list element
  top: 43px; // probably will change later
  right: 0px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);


  .expand-line{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 15px;
    opacity: 0;
    background-color: #f5f6f8;
    transition: opacity 0.15s ease;
    z-index: 200;

    &:hover {
      cursor: grab;
      opacity: 1;
    }
  }

  ul {
    list-style: none;
  }

  .chat-header {
    padding: 25px 10px 0px 10px;
    padding-bottom: 0px;
    border-bottom: solid #D0D4E4 1px;


    .exis-button {
      cursor: pointer;
      margin-left: 5px;
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-color: transparent;
      border-radius: 4px;
      

      &:hover{
        background-color: #F0F0F1;
      }

      i.fa-solid.fa-x{
        font-weight:normal;
        transform: scaleX(1.15);
        transform: scaleX(1.25);
        opacity: 0.6;
      }
    }

    .chat-edit-title {
      display: flex;
      font-size: 24px;
      color: #323338;
      font-family: "Poppins", serif;
      font-weight: 500;
      font-style: normal;
      align-items: start;
      width: calc(100% - 100px);
      text-align: left;
      padding: 2px;

      

      span{
        width: 100%;
        cursor: text;
        padding: 0px 5px 0px 5px;
        border: solid white 1px;

        &:hover{
          border: solid #C3C6D4 1px;
          border-radius: 4px;
        }
      }


      textarea{
        font-size: 24px;
        color: #323338;
        padding: 0px 5px 0px 5px; /* Add consistent padding */
        font-family: "Poppins", serif;
        font-weight: 500;
        width: 100%;
        resize: none;
        border: none; 
        box-sizing: border-box; 
        // line-height:1; 
        outline:none;

        border: solid #0073EA 1px;
        border-radius: 4px;

        &:hover{
          border: solid black 1px;
        }

      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
    & div {
      display: flex;
      align-items: center;
      gap: 0.2rem;
      & h5 {
        font-size: 14px;
        font-weight: 500;
      }
      margin-bottom: 0.1rem;
      padding: 0.25rem;
      border-radius: 6px;
      position: relative; /* Add relative positioning */
      .highlight {
        position: absolute;
        bottom: -2px; /* Adjust this value to position the hr correctly */
        left: 0;
        width: 100%;
        border: none;
        border-top: 2px solid #0073ea; /* Adjust the border style as needed */
      }
    }
  
    & > div:hover {
      cursor: pointer;
      background-color: rgba(103, 104, 121, 0.1);
    }
  }

  .chat-body {
    height: calc(100vh - 170px); // NEEDS TO BE CHANGE LATER
    overflow-y: auto;
    overflow-x: hidden;
    display: flex; 
    justify-content: center; 
    padding: 20px;

    /* Style Crossbar */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #b2b2b2;
    }
  }
  .chat-inner-body{
    width: 100%; 
    max-width: 725px; 
    min-width: 550px; 



    .create-comment {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      border: solid #0073EA 1px;
      border-radius: 8px;
      padding: 10px;

      .textarea-quill{
        
        .ql-toolbar{
          border: none;
          display: flex;
          gap: 0px;
        }
        .ql-container{
          border: none;
          font-size: 15px;
        }

      }

      .update-button {
        cursor: pointer;
        font-size: 14px;
        width: 60px;
        height: 33px;
        align-self: end;
        z-index: 1;
        background-color: #0073EA;
        color: white;
        border-color: transparent;
        border-radius: 4px;

        &:hover{
          background-color: #0060B9;
        }
      }
    }

    .create-comment-blur{
      cursor: text;
      border: solid #0073EA 1px;
      border-radius: 8px;
      height: 90px;
      display: flex;
      font-size: 0.8em;

      &:hover{
        background-color: #F0F0F1;
      }

      .placeholder{
        font-size: 1.1em;
        padding: 15px;
        opacity: 0.7;
      }
    }

    .comments-list {
      margin-top: 15px;

      .comment {
        border: solid #C3C6D4 1px;
        border-radius: 8px;
        margin-bottom: 15px;
        padding-bottom: 5px;

        .comment-text{
          margin-left: 25px;
          display: flex;
          font-size: 0.9em;
        }
      }

      p {
        text-align: left;
      }

      .comment-info {
        display: flex;
        align-items: center;
        padding: 18px;
        padding-left: 25px;
        gap: 8px;

        .username{
          font-weight: bold;
          opacity: 0.9;
          font-size: 0.85em;
        }

        .time{
          font-size: 0.95em;
          opacity: 0.6;
        }

        img {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          margin-left: -10px;
        }

        
      }

    }

    .replies-list {
      border-top: solid #C3C6D4 1px;
      margin-top: 25px;
      padding: 10px;
      padding-top: 20px;

      .reply {
        margin-bottom: 25px;
        display: flex;
        gap: 10px;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }

        .replay-container {
          max-width: 600px;
          min-width: 135px;
          border-radius: 8px;
          background-color: #F6F7FB;
          padding: 15px;

          .reply-username{
            color: #0073EA;
            font-family: "Quicksand", serif;
            font-weight:600;
            font-size: 0.9em;
          }

          .reply-text {
            display: flex;
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 0.8em;
          }
        }

        .reply-time {
          align-self: flex-end;
          opacity: 0.6;
          font-size: 0.85em;
        }
      }
    }

    .create-reply {
      display: flex;

      img{
        width: 35px;
        height: 35px;
        margin-left: 10px;
      }

      form{
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 100%;
        border: solid #0073EA 1px;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
      }


      .textarea-quill{
        
        .ql-toolbar{
          border: none;
          display: flex;
          gap: 0px;
        }
        .ql-container{
          border: none;
          font-size: 15px;
        }

      }

      .reply-button {
        cursor: pointer;
        font-size: 1em;
        width: 50px;
        height: 33px;
        align-self: end;
        z-index: 1;
        background-color: #0073EA;
        color: white;
        border-color: transparent;
        border-radius: 4px;

        &:hover{
          background-color: #0060B9;
        }
      }

      .create-reply-blur{
        cursor: text;
        margin: 0px 20px 10px 10px;
        padding-left: 20px;
        border: solid #C3C6D4 1px;
        border-radius: 8px;
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;


        .placeholder{
          opacity: 0.7;
          font-size: 0.9em;
        }

        &:hover{
          background-color: #F0F0F1;
        }
      }
    }

    .empty-chat{
      margin-top: 85px;
      font-family: "Quicksand", serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 290px;
        height: 250px;
      }
      .bold-text{
        margin-top: 20px;
        
        font-size: 1.2em;
        font-weight:bolder;
      }
      .text{
        margin-top: 20px;
        font-size: 1.1em;
        margin-bottom: 100px;
        text-align: center;
      }
    }
    .white-block{
      height: 25px;
    }
  }
}
