.chat-modal {
  z-index: 200; // this z-index bs has to be solved..
  position: fixed; // unfortunately since absolute sticks with group-list element
  top: 43px; // probably will change later
  right: 0px;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);


  .expand-line{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 15px;
    opacity: 0;
    background-color: #f5f6f8;
    transition: opacity 0.15s ease;
    z-index: 200;

    &:hover {
      cursor: grab;
      opacity: 1;
    }
  }

  ul {
    list-style: none;
  }

  .chat-header {
    padding: 25px 10px 0px 10px;
    padding-bottom: 0px;
    border-bottom: solid #D0D4E4 1px;


    .exis-button {
      margin-left: 5px;
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-color: transparent;
      border-radius: 4px;

      &:hover{
        background-color: #F0F0F1;
      }

      i.fa-solid.fa-x{
        font-weight:normal;
        transform: scaleX(1.15);
        transform: scaleX(1.25);
        opacity: 0.6;
      }
    }

    .chat-edit-title {
      display: flex;
      font-size: 24px;
      color: #323338;
      font-family: "Poppins", serif;
      font-weight: 500;
      font-style: normal;
      align-items: start;
      width: calc(100% - 80px);
      text-align: left;
      padding: 2px;

      

      span{
        width: 100%;
        cursor: text;
        padding: 0px 5px 0px 5px;

        &:hover{
          border: solid #C3C6D4 1px;
          border-radius: 4px;
        }
      }


      textarea{
        font-size: 24px;
        color: #323338;
        padding: 0px 5px 0px 5px; /* Add consistent padding */
        font-family: "Poppins", serif;
        font-weight: 500;
        width: 100%;
        resize: none;
        border: none; 
        box-sizing: border-box; 
        // line-height:1; 
        outline:none;

        border: solid #0073EA 1px;
        border-radius: 4px;

        &:hover{
          border: solid black 1px;
        }

      }
    }

    .navigation{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-left: 10px;
      width: 100px;
      height: 27px;
      padding-bottom: 10px;
      padding-right: 5px;
      border-bottom: solid #0073EA 3px;

      .updates{
        display: flex;
        gap: 7px;
        font-size: 1.05em;
      }
    }
  }

  .chat-body {
    height: calc(100vh - 187px); // NEEDS TO BE CHANGE LATER
    overflow-y: auto;
    display: flex; 
    justify-content: center; 

    /* Style Crossbar */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #b2b2b2;
    }
  }
  .chat-inner-body{
    width: 100%; 
    max-width: 725px; 
    min-width: 550px; 



    .create-comment {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 175px;
      border: solid black 2px;
      padding: 10px;

      textarea {
        resize: none;
        width: 100%;
        height: 80%;
        border: none;
        outline: none;
      }

      button {
        width: 50px;
        align-self: end;
      }
    }

    .comments-list {
      margin-top: 30px;

      .comment {
        border: solid black 2px;
        padding: 10px;
        margin-bottom: 15px;
      }

      p {
        text-align: left;
      }

      .comment-info {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;

        img {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          margin-left: -10px;
        }
      }
    }

    .replies-list {
      border-top: solid black 1px;
      margin-top: 30px;

      .reply {
        margin-top: 30px;
        display: flex;
        gap: 10px;

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }

        .replay-container {
          max-width: 600px;
          border: solid black 2px;
          padding: 5px;

          .reply-text {
            margin-top: 10px;
          }
        }

        .reply-time {
          align-self: flex-end;
        }
      }
    }

    .create-reply {
      margin-top: 30px;
      display: flex;
      gap: 10px;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
        border: solid black 2px;
        padding: 10px;

        textarea {
          resize: none;
          width: 100%;
          height: 80%;
          border: none;
          outline: none;
        }

        button {
          width: 50px;
          align-self: end;
        }
      }
    }
  }
}
