.grid-item.date {
  position: relative;

  .date-modal {
    z-index: 11;
    position: absolute;
    top: 75px; // temporary
    left: -200px; // temporary
    width: 350px;
    height: 350px;
    background-color: white;
    border: none;
    box-shadow: 4px 4px 40px #333;
    border-radius: 5px;

    // the year picking part
    .MuiPickersCalendarHeader-labelContainer.css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
      pointer-events: none;

      // the year picking part's arrow
      .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall.MuiPickersCalendarHeader-switchViewButton.css-iupya1-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
        display: none;
      }
    }
  }
}
