.grid-item.status {
  position: relative;

  .status-modal {
    z-index: 11;
    position: absolute;
    top: 75px; // temporary
    left: 0px; // temporary
    width: 200px;
    height: 250px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 7px rgb(200, 200, 200);
    border-radius: 5px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 25px 10px 25px;
      gap: 8px;
    }

    li {
      display: grid;
      align-content: center;
      cursor: pointer;
      height: 32px;
      width: 100%;
      border-radius: 2px;
      transition: opacity 0.15s ease;
      font-size: 1.05em;

      &:hover{
        opacity: 0.9;
      }
    }
  }
}
