.grid-item.status {
  position: relative;

  .status-modal {
    z-index: 100;
    position: absolute;
    top: 75px; // temporary
    left: 0px; // temporary
    width: 175px;
    height: 250px;
    background-color: white;
    border: none;
    box-shadow: 4px 4px 40px #333;
    border-radius: 5px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      display: grid;
      align-content: center;
      cursor: pointer;
      height: 30px;
      margin-top: 15px;
      width: 70%;
      border-radius: 2px;

      p {
        border: none;
        padding-top: 0px;
      }
    }
  }
}
